<style>



h1{
	text-align: left;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: white;

}
p{
	text-align: left;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: white;
}


header {
	position: fixed; top:0px; right:0px;
	height: 100%;
  	background:#7f7f7f;
  	background:rgba(0,0,0,0.5);
  	font-size: 24px;
	padding: 30px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: white;


}

/*.trans p {
	position: fixed; top: 10px; right: 50px;
	

}
*/



</style>