/* Nav Bar */
.nav_wrapper{
	display: inline-block;
	height: 100%;
	width:20%;

	margin-left: 5%;
}

nav{
	margin-top: 0%;
	width:100%;

	text-align: left;


}

nav .icon img{
	max-width: 20%;
	vertical-align: middle;
	margin-right: 2%;
}

nav .icon{
	display: inline-block;
	width: 100%;
	height: 20%;
	margin-bottom: 7.5%
}

/* Nav bar Mobile*/
@media all and (max-width: 600px) {
	.nav_text{
		display: none;
	}

	.nav_wrapper{
		width:15%;
		height: 100%;
	}

	nav .icon img{
		max-width: 100%;
		
	}

	nav .icon{
		width: 80%;
		height: 80%;
		margin-bottom:25%;
	}

	.container{
		color:red;
		height: 100%;
	}

	.container h1{
		font-size: 20px;
		color:green;
	}

}



/* End of Nav bar*/

/* Main content */
.container {
	display: inline-block;
	width: 70%;
	height: 100%;
	vertical-align: top;
	border-left: 2px solid black;

}

.container h1 {
	text-align: center;
	margin-left: 5%;
}

.container p{
	text-align: left;
	margin-left: 5%;
}


/* End of main content */

body, html{
	height: 100%;
}

body, a{
	
	color: black;
	background: white;
	font-family: 'Varela', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;

}
h1{
	font-family: 'Varela Round', sans-serif;
	font-weight: 800;
	font-size: 60px;
}
